[Unit]
Description=Open WebUI
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
ExecStartPre=-/usr/bin/docker stop open-webui
ExecStartPre=-/usr/bin/docker rm open-webui
ExecStart=/usr/bin/docker run --name open-webui \
  --network host \
  -v open-webui:/app/backend/data \
  -e OLLAMA_BASE_URL=http://127.0.0.1:11434 \
  -e PORT=3000 \
  ghcr.io/open-webui/open-webui:main

[Install]
WantedBy=multi-user.target
